{% extends "layouts/index.html" %}
{% block body %}
	<header>
		<h1>MUN Apps</h1>
		<h2>
			A campus API for Memorial University<br>
			Pre-beta and highly experimental
		</h2>
		<nav>
			<ul>
				<li><a class="button" href="{{ reference }}">API Reference</a></li>
				<li><a class="button" href="{{ github }}">View on GitHub</a></li>
			</ul>
			<ul class="social-icons">
				<li>{% include "components/twitter-icon.html" %}</li>
			</ul>
		</nav>
	</header>
	<section>
		<h3>The vision</h3>
		<p>
			MUN offers its students a wide range of services, some of which are well-known and loved, others are
			obscure and hard to use. This API exposes the data from various services as a building block for new apps.
		</p>
	</section>
	<section>
		<h3>Clean and simple API</h3>
		<p>Get what you need from MUN&rsquo;s services</p>
		<script src="https://gist.github.com/whymarrh/9cd9e941de4ab475f6fb.js"></script>
		<p><a href="{{ reference }}">Read the full API reference</a></p>
	</section>
	<hr>
	<section>
		<h3>Android and iOS Apps</h3>
		<p>Coming soon</p>
	</section>
	<footer>
		<p>Architected by <a href="https://github.com/whymarrh">@whymarrh</a></p>
		<p>
			<ul>
				<li><a class="button" href="{{ reference }}">API Reference</a></li>
				<li><a class="button" href="{{ github }}">GitHub</a></li>
		</p>
	</footer>
{% endblock %}
