{% extends "layouts/index.html" %}
{% block body %}
	<header>
		<h1>MUN Apps</h1>
		<h2>
			A campus API for Memorial University<br>
			Pre-beta and highly experimental
		</h2>
		<nav>
			<ul>
				<li><a class="button">API Reference</a></li>
				<li><a class="button">Apps</a></li>
				<li><a class="button">View on GitHub</a></li>
			</ul>
			<ul class="social-icons">
				<li>{% include "components/twitter-icon.html" %}</li>
				<li>{% include "components/facebook-icon.html" %}</li>
			</ul>
		</nav>
	</header>
	<section>
		<h3>Clean and simple API</h3>
		<p>Get what you need from MUN&rsquo;s services</p>
		<script src="https://gist.github.com/anonymous/6e2ff58f0f65ac4d63e8.js"></script>
		<p><a>Read the full API reference</a></p>
	</section>
	<hr>
	<section>
		<h3>Android and iOS Apps</h3>
		<p>Coming soon</p>
	</section>
	<footer>
		<p>Architected by <a>@whymarrh</a></p>
		<p><a class="button">API Reference</a> &middot; <a class="button">GitHub</a></p>
	</footer>
{% endblock %}
