<iframe
	allowtransparency="true"
	frameborder="0"
	height="20px"
	name="f88a7e114"
	scrolling="no"
	src="https://www.facebook.com/plugins/like.php?app_id=113869198637480&amp;channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D40%23cb%3Df1d1bfa9a%26domain%3Ddevelopers.facebook.com%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ff3c227b73%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true"
	title="fb:like Facebook Social Plugin"
	width="130px">
</iframe>
